main .img-index {
  display: flex;
  text-align: center;
  width: 100%;
  height: 400px;
  box-shadow: 5px 8px 12px #92817A;
}
main .titulo2-index {
  text-align: center;
  font-size: 50px;
  padding: 15px;
}
main div ul li {
  list-style: none;
}
main .container-fluid {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  border-radius: 47px;
}
main .titulo3-index {
  color: rgb(0, 0, 0);
  text-shadow: 5px 8px 12px #5E503F;
  font-size: 35px;
  margin: 0px;
  padding-bottom: 5px;
}
main .catalogo-index {
  width: 350px;
  height: 450px;
  position: relative;
  border-radius: 54px;
  background: linear-gradient(145deg, #655643, #554839);
  box-shadow: 8px 8px 18px #40362b, -8px -8px 18px #7c6a53;
}
main .textorelacionadoindex {
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 14px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .img-index {
    height: 300px;
  }
  .titulo2-index {
    font-size: 50px;
  }
  .catalogo-index {
    width: 300px;
    height: 400px;
  }
}
@media screen and (max-width: 1024px) {
  .img-index {
    height: 300px;
  }
  .titulo2-index {
    font-size: 50px;
  }
  .catalogo-index {
    width: 300px;
    height: 400px;
  }
}
.titulo-productos {
  text-align: center;
  font-size: 70px;
  text-shadow: 5px 8px 12px white;
  margin-top: 25px;
  margin-bottom: 50px;
  text-shadow: 5px 8px 12px black;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.image-2 img {
  width: 99%;
  height: 500px;
  box-shadow: 5px 8px 12px black;
  display: block;
  margin-right: 5px;
}

.image img {
  width: 99%;
  height: 500px;
  display: block;
  box-shadow: 5px 8px 12px black;
  margin-left: 5px;
}

.text-2 {
  display: flex;
  text-align: right;
  align-items: center;
}

.text {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 10px;
}

main div h4 {
  font-size: 22px;
}

@media screen and (max-width: 1024px) {
  .grid-container {
    gap: 20px;
  }
  .item {
    font-size: 18px;
  }
  .text-2 {
    margin-right: 10px;
  }
  .text {
    margin-left: 10px;
  }
}
/*  CONTACTO  */
/*  Titulo e Imagen  */
.titulo-contacto {
  font-size: 60px;
  color: whitesmoke;
  text-shadow: 5px 8px 12px #000000;
  top: 10px;
  left: 20px;
  margin: 0px;
  padding: 0px;
  position: absolute;
}

.subtitulo-contacto {
  font-size: 30px;
  color: whitesmoke;
  text-shadow: 5px 12px 12px black;
  top: 76px;
  left: 190px;
  margin: 0px;
  padding: 0px;
  position: absolute;
}

.contacto {
  position: relative;
}

.imagen-contacto {
  height: 500px;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

/*  Formulario  */
.formulario-contacto {
  width: 400px;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  text-align: left;
}

.formulario-contacto h3 {
  font-size: 40px;
  text-align: center;
  display: flex;
}

.inputs {
  font-size: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: #dcdcdc;
  box-shadow: 5px 8px 12px black;
  border: none;
}

.formulario-contacto form label {
  font-size: 20px;
}

.textarea {
  font-size: 20px;
  height: 200px;
  width: 500px;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 8px 12px black;
}

.botton {
  font-size: 20px;
  border: none;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 5px 8px 12px black;
}

/*  Logo y texto adicional */
.texto-contacto {
  display: grid;
  grid-template-columns: 2, 1fr;
  grid-template-rows: 1, 1fr;
  justify-content: right;
}
.texto-contacto img {
  width: 400px;
  height: 100px;
}
.texto-contacto p {
  font-size: 20px;
  width: 400px;
  height: 100px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .imagen-contacto {
    height: 350px;
  }
  .texto-contacto img {
    right: 80px;
    top: 35%;
  }
  .texto-contacto p {
    right: 80px;
    top: 41%;
    padding-top: 5px;
  }
}
.titulo-servicios {
  text-align: center;
  font-size: 50px;
  text-shadow: 5px 8px 12px black;
  padding: 20px;
}

.flex-servicios {
  display: flex;
  justify-content: center;
  list-style: none;
}

.img-servicios {
  height: 500px;
  width: 500px;
  box-shadow: 5px 8px 12px black;
  border-radius: 5px;
}

.parrafo-servicios {
  width: 500px;
  height: 500px;
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
}

.flex-servicios {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.parrafo-servicios {
  width: 800px;
  height: 300px;
  font-size: 1.5rem;
}

.img-servicios {
  height: 500px;
  width: 800px;
}

/*  donde nos encontramos (dne) */
main h2 {
  font-size: 50px;
  text-align: center;
  padding: 15px;
  text-shadow: 5px 8px 12px white;
}
main section {
  display: flex;
  justify-content: space-around;
}
main section div img {
  width: 60px;
  height: 60px;
}
main section div .direccion.dne {
  font-size: 40px;
}
main section div .descripcion-direccion {
  font-size: 20px;
  width: 500px;
  height: 200px;
}
main div iframe {
  border-radius: 15px;
  box-shadow: 5px 8px 12px black;
  margin-left: 25vh;
}

@media screen and (max-width: 1024px) {
  .todo-dne {
    display: grid;
    grid-template-rows: 2, 1fr;
    gap: 50px;
  }
}
/*  GENERAL  */
* {
  margin: 0;
  padding: 0;
  font-family: "Alatsi", sans-serif;
  background-color: linear-gradient(220.55deg, #FFF6EB 0%, #DFD1C5 100%);
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/*  menu-imagen boostrap  */
.d-block {
  height: 300px;
  box-shadow: 5px 8px 12px black;
}

/* MENU */
header {
  background: linear-gradient(220.55deg, #565656 0%, #181818 100%);
  box-shadow: 0 0 5px black;
  width: 100%;
  height: 80px;
  padding: 15px;
}
header .logo img {
  width: 200px;
  height: 40px;
  float: inline-start;
}
header .navbar-collapse {
  font-size: 20px;
  z-index: 1050;
  text-shadow: 0 0 5px black;
}
header .nav-link {
  color: white;
}

/*  footer/redes sociales  */
footer ul li a img {
  width: 40px;
}
footer .redessociales {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  margin-top: 50px;
  list-style: none;
}

/*# sourceMappingURL=style.css.map */
