/*  CONTACTO  */

/*  Titulo e Imagen  */
.titulo-contacto {
    font-size: 60px;
    color: whitesmoke;
    text-shadow: 5px 8px 12px #000000;
    top: 10px;
    left: 20px;
    margin: 0px;
    padding: 0px;
    position: absolute;

}

.subtitulo-contacto {
    font-size: 30px;
    color: whitesmoke;
    text-shadow: 5px 12px 12px black;
    top: 76px;
    left: 190px;
    margin: 0px;
    padding: 0px;
    position: absolute;
}

.contacto {
    position: relative;
}

.imagen-contacto {
    height: 500px;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

/*  Formulario  */

.formulario-contacto {
    width: 400px;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    text-align: left;


}

.formulario-contacto {
    h3 {
        font-size: 40px;
        text-align: center;
        display: flex;
    }

}

.inputs {
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #dcdcdc;
    box-shadow: 5px 8px 12px black;
    border: none;
}

.formulario-contacto form label {
    font-size: 20px;


}

.textarea {
    font-size: 20px;
    height: 200px;
    width: 500px;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 8px 12px black;
}

.botton {
    font-size: 20px;
    border: none;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 5px 8px 12px black;
}

/*  Logo y texto adicional */
.texto-contacto {
    display: grid;
    grid-template-columns: 2, 1fr;
    grid-template-rows: 1, 1fr;
    justify-content: right;
    img {
        width: 400px;
        height: 100px;
    }

    p {
        font-size: 20px;
        width: 400px;
        height: 100px;
        text-align: center;
    }
}

@media screen and (max-width: 1024px) {
    .imagen-contacto {
        height: 350px;
    }

    .texto-contacto img {
        right: 80px;
        top: 35%;
    }

    .texto-contacto p {
        right: 80px;
        top: 41%;
        padding-top: 5px;
    }
}