/*  CONTACTO  */

/*  Titulo e Imagen  */

.contacto {
    background-image: url(/assets/img/foto-del-frente-2.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 15px;
    
    h2 {
        font-size: 60px;
        color: whitesmoke;
        text-shadow: 5px 8px 12px #000000;
        display: flex;
        align-items: start;

    }

    h3 {
        font-size: 30px;
        color: whitesmoke;
        text-shadow: 5px 12px 12px black;
    }

}



/*  Formulario  */

.formulario-contacto {
    width: 400px;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.formulario-contacto {
    h3 {
        font-size: 40px;
        text-align: center;
        display: flex;
    }

}

.inputs {
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #dcdcdc;
    box-shadow: 5px 8px 12px black;
    border: none;
}

.formulario-contacto form label {
    font-size: 20px;


}

.textarea {
    font-size: 20px;
    height: 200px;
    width: 500px;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 8px 12px black;
}

.botton {
    font-size: 20px;
    border: none;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 5px 8px 12px black;
}

/*  Logo y texto adicional */
.texto-contacto {
display: flex;
flex-direction: column;
margin-left: 60%;
margin-bottom: 500px;
    img {
        width: 400px;
        height: 100px;
    }
    p {
        font-size: 20px;
        width: 400px;
        height: 100px;
        text-align: center;
    }


}

@media screen and (max-width: 1024px) {
    .imagen-contacto {
        height: 350px;
    }

    .texto-contacto img {
        right: 80px;
        top: 35%;
    }

    .texto-contacto p {
        right: 80px;
        top: 41%;
        padding-top: 5px;
    }
}
@media screen and (max-width: 720px) {
main {
    .contacto {

        background-image: url(/assets/img/foto-del-frente-2.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;

        h2 {
            font-size: 24px;
        }
        h3 {
            font-size: 20px;
        }
    }
    div {
        form {
            .textarea {
                width: 80%;
            }
        }
    }
}

}